<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/Loading.css') }}">
    <title>AtharAI</title>
</head>
<body>
    <div class="loader">
        <div class="counter">
            <p>Loading</p>
            <h1>0%</h1>
            <hr>
        </div>
    </div>
    </body>
    <!-- the code responsible for the loading -->
    <script> 
    var counter = 0;
    var c = 0;
    var i = setInterval(function () {
        document.querySelector(".loader .counter h1").textContent = c + "%";
        document.querySelector(".loader .counter hr").style.width = c + "%";
        counter++;
        c++;

        if(counter== 101) {
            clearInterval(i)
            window.location.href = "/chat";
        }
    }, 10);
</script>
</html>