<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/name.css') }}"> <!-- because we are using flask it is not recommended to import them directly so you use a method called url_for-->
    <title>AtharAI</title>
</head>
<body>
    <div class="login">
        <form>
            <div class="form-group">
                <label id="Name_label" for="">What's your name?</label>
                <input id="name_input" placeholder="Enter your name here?">
                <hr/>
            </div>
            <div class="form-group">
                <button onclick="CallPythonSetName()">Continue</button> <!--JS method used to send the user's name to python-->
            </div>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="{{ url_for('static', filename='js/name.js') }}"></script> 
    
</body>
</html>